html{
    background-color: white;
    height: 100%;
}

.MenuBar{
    height: 100vh;
    width: 40vh;
    background-color: rgb(255, 114, 7);
    border: 1px solid black;
    float: left;
    margin-left: -8px;
    margin-top: -10px;
}

.btn{
    height: 25px;
    width: 80px;
}

.searchbar{
    margin-left: 10px;
    height: 20px;
    width: 200px;
}

.InfoBoxes{
    height: 25vh;
    width: 25vh;
    border: 1px solid black;
    display: inline-block;
    margin-left: 25px;
    text-align: center;
}

.ProfilePic{
    height: 35vh;
    width: 30vh;
    border: 1px solid black;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
    background-image: url("userpicture.png");
    background-color: #cccccc;
    background-size: 110px;
}

.ProfileInfo{
    height: 65vh;
    width: 80vh;
    float: left;
    margin-top: 40px;
    margin-left: -10px;
}

.filter{
    margin-left: 950px;
}

.ProfileDesc{
    height: 40vh;
    width: 73vh;
    border: 1px solid black;
    float: right;
    margin-top: 10vh;
    margin-right: 20px;
}

.AdminInfo{
    font-size: 3vh;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}


.MenuOptions1{
    margin-top: 40px;
    height: 7vh;
    width: 40vh;
    font-size: 3vh;
    text-align: center;
    color: rgb(0, 0, 0);
}

.MenuOptions{
    margin-top: -10px;
    height: 7vh;
    width: 40vh;
    font-size: 3vh;
    text-align: center;
    color: rgb(0, 0, 0);
}

.MenuOptions1:hover{
    background-color: rgb(165, 73, 2);
    cursor: pointer;
}

.MenuOptions:hover{
    background-color: rgb(165, 73, 2);
    cursor: pointer;
}

.MenuTxt{
    padding-top: 10px;
}

.CTemplate{
    height: 85vh;
    width: 150vh;
    border: 1px solid black;
    margin-left: 310px;
    text-align: center;
}

.DescBox{
    height: 30vh;
    width: 130vh;
    margin-left: 70px;
    margin-top: -15px;
    border: 1px solid black;
}

.CInfo{
    font-size: 20px;
}

.MenuTitle
{
        font-size: 30px;
        margin-top: 15px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: rgb(255, 255, 255);
}

.namer{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 0px;
}

.roler{
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: -10px;
}

.ProfilePic1{
    height: 25vh;
    width: 25vh;
    border-radius: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid black;
    background-image: url("userpicture.png");
    background-color: #cccccc;
    background-size: 110px;
}

.Itxt{
    height: 30px;
    width: 300px;
    margin-left: 10px;
    margin-top: 20px;
    color: rgb(106, 106, 106);
    font-size: 18px;
}

.IItxt{
    height: 30px;
    width: 300px;
    margin-left: 40px;
    margin-top: 20px;
    color: rgb(106, 106, 106);
    font-size: 18px;
}

.Ilbl{
    margin-left: 50px;
    padding: 10px 20px;
    font-weight: bold;
}

.RowZero{
    color: grey;
    font-size: 15vh;
    font-family: Arial, Helvetica, sans-serif;
}

.RowExtends{
    color: blue;
    font-size: 15vh;
    font-family: Arial, Helvetica, sans-serif;
}

.InfoBoxes{
    height: 25vh;
    width: 25vh;
    border: 1px solid black;
    display: inline-block;
    margin-left: 170px;
    text-align: center;
}

.JobInfo{
    width: 800px;
    height: 700px;
    border: 2px solid black;
    margin-left: 450px;
    background-color: rgba(128, 128, 128, 0.091);
    text-align: center;
}

.AccS{
    font-weight: bold;
}

.tb{
    margin-top: 30px;
    height: 250px;
}

textarea {
    overflow-y: scroll;
    height: 100px;
    resize: none;
}

.ut{
    margin-top: 40px;
    font-size: 24px;
}

.IDlbl{
    margin-left: -100px;
    padding: 10px 20px;
    font-weight: bold;
}

.Subbtn{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    background-color: rgb(199, 199, 199);
}

.Subbtn:hover{
    cursor: pointer;
    background-color: rgb(135, 135, 135);
}

td, th{
    border: 1px solid black;
    padding: 10px 35px;
}

.NewUserHeader{
    margin-left: 45vh;
    margin-top: -1px;
    font-size: 5vh;
    color: rgb(94, 94, 94);
}

.Cjobs{
    background-color: rgba(0, 89, 0, 0.365);
}

.Rjobs{
    background-color: rgba(255, 0, 0, 0.228);
}